#IntelliJ
.idea/
*.iml

# Temp files
/auxil/
/out/
*.aux
*.acn
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.out
*.svg
*.synctex.gz
*.synctex(busy)
*.toc
*.syg

# Output
/*.pdf